.env
.DS_Store
node_modules/
package-lock.json
.vscode
plots/
data/
*~
prod_server/venv
prod_server/__pycache__
prod_server/migrations/__pycache__
prod_server/migrations/versions/__pycache__
prod_server/models/__pycache__
venv/
*.bak
*.pyc