.env
.env.*
.DS_Store
node_modules/
package-lock.json
setup.sh
.vscode
plots/
data/
*~
backend/venv
backend/__pycache__
backend/migrations/__pycache__
backend/migrations/versions/__pycache__
backend/models/__pycache__
venv/
*.bak
*.pyc
src/react-app-env.d.ts