.input-box{
    max-width: 100%;
    min-width: 100%;
}

.modal-side-categories {
    position: absolute;
    top: 44%;
    left: 55%;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    width: 30%;
    height: 40%;
}

.display-text {
    font-weight: 500;
}