body {
    background-color: hsl(195, 88%, 77%, 0.2);
    position: relative;
}

.img-logo {
    height: auto;
    max-width: 50%;
}

.login-button {
    margin-left: 25px;
    margin-top: 10px;
}

.apply-button-container {
    padding-left: 15px;
    padding-right: 15px;
    margin-top:10px;
}