body {
    background-color: hsl(195, 88%, 77%, 0.2) !important;
    position: relative;
}

.img-column {
  float: left;
  width: 50%;
  padding-right: 5px;
  margin-top: 15px;
}

.apply-button-container {
    margin-left: 15px;
    margin-top:10px;
}

.signout-con {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  margin-left: 10px !important;
}