.modal-side {
        position: absolute;
        top: 15%;
        left: 55%;
        border: 1px solid rgb(204, 204, 204);
        background: rgb(255, 255, 255);
        overflow: auto;
        border-radius: 4px;
        outline: none;
        width: 30%;
        height: 40%;
}

.display-text {
        font-weight: 500;
}